<%- include("../fragmente/head.ejs") %>
<%- include("../fragmente/header.ejs") %>

<h2>Eroare 403</h2>
<figure style="width: 20%">
    <img src="../resurse/403.png "
    
    style="max-width: 100%;">
    <figcaption style="text-align: center">403</figcaption>
</figure>

<%- include("../fragmente/footer.ejs") %>