<%- include("../fragmente/head.ejs") %>
<%- include("../fragmente/header.ejs") %>

<h2>Eroare 404</h2>
<figure style="width: 20%">
    <img src="../resurse/404.jpeg "
    
    style="max-width: 100%;">
    <figcaption style="text-align: center">404</figcaption>
  </figure>
<%- include("../fragmente/footer.ejs") %>