<header>
    <h1 class="title">
        Create your favorite music right at your home

    </h1>
    <nav>
    
        <label id="hamburger" for="toggle">
            <img src="resurse/download.png" alt="menu">
        </label>
        <input id="toggle" type="checkbox">

        <ul class="meniu">
            <li><div><a href="#"><span class="Acasa">Acasa</span><i class="fa fa-home" aria-hidden="true" id="icon-c"></i></a></div>
                <ul>
                    <li><a href="/index"><i class="fa fa-long-arrow-right"></i>Welcome</a></li>
                    <li><a href="/promotii"><i class="fa fa-long-arrow-right"></i>Promotii</a></li>
                    <li><a href="#anunturi"><i class="fa fa-long-arrow-right"></i>Anunturi</a></li>
                    <li><a href="#produse"><i class="fa fa-long-arrow-right"></i>Oferta</a></li>
                    <li><a href="#orar"><i class="fa fa-long-arrow-right"></i>Orar</a></li>
                    <li><a href="#index-intrebari"><i class="fa fa-long-arrow-right"></i>Întrebări</a></li>
                    <li><a href="#retete"><i class="fa fa-long-arrow-right"></i>Rețete</a></li>
                </ul>
            
            
            </li>
            <li><div><a href="#">Inregistrare</a></div></li>
            <li><div>Despre</div>
                <ul>                        
                    <li><a href="/descriere"><i class="fa fa-long-arrow-right"></i>Prezentare</a></li>
                    <li><a href="/istoric"><i class="fa fa-long-arrow-right"></i>Istoric</a></li>
                    <li><a href="/motivatie"><i class="fa fa-long-arrow-right"></i>Motivatie</a></li>
                    <li><a href="/galerie"><i class="fa fa-long-arrow-right"></i>Galerie</a></li>
                </ul>
            </li>
            <li><div>Produse</div>
                <ul>
                    <li><a href="http://www.google.com"><i class="fa fa-long-arrow-right"></i>Toate</a></li>
                    <li><a href="#"><i class="fa fa-long-arrow-right"></i>Prajituri</a></li>
                    <li><a href="#"><i class="fa fa-long-arrow-right"></i>Torturi</a></li>
                    <li><a href="#"><i class="fa fa-long-arrow-right"></i>Patiserie</a></li>
                </ul>
            
            </li>
            <li><div><a href="#">Contact</a></div></li>
            <li><div><a href="#">Contact</a></div></li>
            <li><div><a href="#grid-zona-8">Contact</a></div></li>
        </ul>
    </nav>  
</header>