<head>
    <title>Articole Studio</title>
    <meta charset="UTF-8">
    <meta name="description" content="E-commerce website for studio products">
    <meta name="keywords" content="audio, microphone, bass, guitar, electronic, acoustic, celo, violin, mixer, dj, clarinet, sax, harmonica, virtual studio, editor software">
    <meta name="author" content="Stefan Florin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="resurse/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="resurse/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="resurse/ico/favicon-16x16.png">
    <link rel="manifest" href="resurse/ico/site.webmanifest">
    <link rel="mask-icon" href="resurse/ico/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/30c2b2aa43.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Verdana">

    <link rel="stylesheet" href="resurse/css/layout.css" type="text/css">
    <link rel="stylesheet" href="resurse/css/tabel.css" type="text/css">
    <link rel="stylesheet" href="resurse/css/nav.css" type="text/css"> 
    <link rel="stylesheet" href="resurse/css/tabs.css" type="text/css">
    <link rel="stylesheet" href="resurse/css/linktop.css" type="text/css">
    <link rel="stylesheet" href="resurse/css/video.css" type="text/css">
    <link rel="stylesheet" href="resurse/css/printare.css" type="text/css">
    <link rel="stylesheet" href="resurse/css/galerie-statica.css" type="text/css">

</head>